@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #00a5c5 url('../images/bg.jpg') no-repeat center / cover;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  color: #fff;
  background: #0072cf;
}
::selection {
  color: #fff;
  background: #0072cf;
}
h1,
h2,
h3 {
  color: #333;
  font-family: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: underline;
  color: #065869;
}
select {
  font-family: inherit;
  outline: 0;
}
nav,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.signup-container h3 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #fff;
}

.submit-field {
  position: relative;
}

.input {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  line-height: 1.5;
  height: 2.25em;
  padding: 20px 12px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: 0;
}

.input:active {
  border-color: #065869;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.submit-field > button {
  position: absolute;
  right: 10px;
  top: 7px;
  
  border-width: 1px;
  padding: 5px 12px;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#parent {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 525px;
  max-height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: Montserrat, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 736px) {
  #parent {
    position: relative;
    left: initial;
    right: initial;
    top: initial;
    max-width: 100%;
    height: 100%;
    bottom: initial;
    display: block;
    padding-bottom: 75px;
  }
}

.logo {
  background: url('../images/olympia_logo.svg') no-repeat 50% / contain;
  display: block;
  height: 100px;
  width: 100%;
  margin: 0 auto 75px;
}
@media only screen and (max-width: 736px) {
  .logo {
    height: 50px;
    display: block;
    margin: 50px auto;
  }
}

.content {
  font-family: inherit;
  color: white;
}

.content p {
  font-size: 1.3rem;
  font-family: inherit;
  color: inherit;
  line-height: 2rem;
  width: 100%;
  margin: 40px auto;
  display: block;
}

@media only screen and (max-width: 736px) {
  .content p {
    font-size: 1.3rem;
    width: 80%;
  }
}

.social ul {
  display: table;
  margin: 0 auto;
}

.social ul li {
  display: inline-block;
  margin: 0 25px 0 0;
}

.social ul li:last-child {
  margin: 0;
}

.social ul li img {
  height: 30px;
  width: 30px;
  outline: 0;
}

h1 {
  font-family: inherit;
  font-size: 3.2rem;
  width: 100%;
  display: block;
  line-height: 3rem;
  color: #065869;
  letter-spacing: 4px;
  -webkit-transform: translatey(0);
  -ms-transform: translatey(0);
  transform: translatey(0);
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
}
@media only screen and (max-width: 736px) {
  h1 {
    font-size: 2.6rem;
    max-width: 95%;
    margin: 0 auto;
  }
}

h2 {
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #065869;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto 15px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
